<% content_for :page_title do %>Experience<% end %>
<% content_for :page_description do %>My experience as a professional, and my past education.<% end %>
<% content_for :page_header_color do %>teal<% end %>
<% content_for :page_header do %>
  <p>Here you can find a timeline of my work and education experience.</p>
  <%= render "application/back_link" %>
<% end %>
<%= render "body" %>
