<% content_for :page_title do %>Skúsenosti<% end %>
<% content_for :page_description do %>Moje profesionálne a vzdelavácie skúsenosti.<% end %>
<% content_for :page_header_color do %>teal<% end %>
<% content_for :page_header do %>
  <p>Tu nájdete časovú os mojich pracovných a vzdelávacích skúseností.</p>
  <%= render "application/back_link" %>
<% end %>
<main>
  <%= render "body" %>
</main>
