<h2>Hamburger menu with <code>text-decoration</code></h2>
<p>
  Inspired by
  <a
    href="https://www.youtube.com/watch?v=x3MTfp3HDLc"
    target="_blank"
    rel="noreferrer noopener"
  >
    Kevin Powell's video
  </a>
  , this is an example of a simple "hamburger" style menu button with
  <code>text-decoration</code>.
</p>
