<h2>Ikona menu z <code>text-decoration</code></h2>
<p>
  Inšpirované
  <a
    href="https://www.youtube.com/watch?v=x3MTfp3HDLc"
    target="_blank"
    rel="noreferrer noopener"
  >
    videom Kevina Powella
  </a>
  , toto je príklad jednoduchého tlačidla menu v štýle "hamburger" s
  <code>text-decoration</code>.
</p>
