<footer class="timeline-item-footer">
  <a
    href="https://99designs.com/profiles/nizamiza"
    target="_blank"
    rel="noreferrer noopener"
  >
    <%= t "experience.work.99designs.profile" %>
  </a>
</footer>
