<footer class="timeline-item-footer">
  <a
    href="https://www.fiit.stuba.sk/"
    target="_blank"
    rel="noreferrer noopener"
  >
    <%= t "experience.education.stu_fiit.website" %>
  </a>
</footer>
