<footer class="timeline-item-footer">
  <a
    href="https://m.facebook.com/uztpkit"
    target="_blank"
    rel="noreferrer noopener"
  >
    <%= t "experience.education.tpcit.website" %>
  </a>
</footer>
