<h2>Dynamic columns using <code>flexbox</code></h2>
<p>
  Here is a neat way of defining a dynamic number of columns using
  <code>flexbox</code>. And the best part is that it doesn't use any media
  queries!
</p>
<p>
  Try resizing your viewport and see how cards nicely stack on top of each
  other.
</p>
