<h2>Dynamické stĺpce pomocou <code>flexbox</code>. Bez media queries!</h2>
<p>
  Tu je pekný spôsob definovania dynamického počtu stĺpcov pomocou
  <code>flexbox</code>. A najlepšie na tom je, že nepoužíva žiadne media
  queries!
</p>
<p>
  Vyskúšajte zmeniť veľkosť okna prehliadača a pozrite sa, ako sa karty pekne
  zoradia na seba.
</p>
