<% content_for :page_title do %>Demá<% end %>
<% content_for :page_description do %>Kolekcia mojích dém.<% end %>
<% content_for :page_header_color do %>slateblue<% end %>
<% content_for :page_header do %>
  <p>
    Tu sú moje demá. Väčšina z nich je z mojho blogu. Ak sa vám páčia, môžete
    ich zdieľať.
  </p>
<% end %>
<%= render "body" %>
