<% content_for :page_title do %>Demos<% end %>
<% content_for :page_description do %>Collection of my demos.<% end %>
<% content_for :page_header_color do %>slateblue<% end %>
<% content_for :page_header do %>
  <p>
    Below are some of the demos I have created. Most of them are taken from
    my blog posts.
  </p>
  <%= render "application/back_link" %>
<% end %>
<%= render "body" %>
