<% content_for :page_title do %>Ukážky<% end %>
<% content_for :page_description do %>Kolekcia ukážok, ktoré používam na svojom blogu.<% end %>
<% content_for :page_header_color do %>slateblue<% end %>
<% content_for :page_header do %>
  <p>
    Tu je kolekcia ukážok, ktoré používam na svojom blogu.
  </p>
  <%= render "application/back_link" %>
<% end %>
<%= render "body" %>
