<figure class="avatar-figure">
  <div class="noise" role="img"></div>
  <%= image_tag "me.jpeg",
    class: "avatar-img",
    alt: t("views.application.avatar_alt"),
    width: 160,
    height: 160
  %>
  <figcaption class="sr-only">
    <p>
      <%= t("avatar_alt") %>
    </p>
  </figcaption>
</figure>

<% content_for_styles "avatar" do %>
  <style>
    .avatar-img {
      --size: 10rem;

      width: var(--size);
      height: var(--size);
      object-fit: cover;
    }

    .avatar-figure {
      position: relative;
      border-radius: var(--br-full);
      overflow: hidden;
      order: -1;
    }
  </style>
<% end %>
