<figure class="avatar-figure">
  <div class="noise" role="img"></div>
  <%= image_tag "me.jpeg",
    class: "avatar-img",
    alt: "Photo of Niza Toshpulatov",
    width: 160,
    height: 160
  %>
  <figcaption class="sr-only">
    <p>
      Photo of Niza Toshpulatov
    </p>
  </figcaption>
</figure>
