<% content_for :page_title do %>Hi, I'm Niza!<% end %>
<% content_for :page_description do %>Welcome to my page. I'm a web developer and I enjoy creating things.<% end %>
<% content_for :page_header_color do %>orange<% end %>
<% content_for :page_header do %>
  <%= render "avatar" %>
  <p>
    Welcome to my page. Currently I'm working as a web developer. I enjoy
    creating things and in my free time I like to compose music.
  </p>
  <%= render "application/social_link_list", links: @social_links %>
<% end %>
<main>
  <section class="section">
    <h2>Blog</h2>
    <p>
      I have a blog at <a href="https://world.hey.com/niza">HEY World</a>. I
      tend to post all kinds of things related to my work and interests. Check
      it out if you're interested.
    </p>
  </section class="section">
  <section class="section">
    <h2>Demos</h2>
    <p>
      I've started to collect demos for my blog posts here as well. You can
      check them out if you're interested.
    </p>
    <%= link_to "Demos", "demo" %>
  </section class="section">
  <section class="section">
    <h2>Experience</h2>
    <p>
      If you want to learn more about my work experience, you can check out
      the timeline here.
    </p>
    <%= link_to "Experience", "experience" %>
  </section class="section">
</main>
