<h2>Počítadlo v čistom HTML</h2>
<p>
  Malo ľudí vie, že počítadlo je možné vytvoriť len pomocou HTML. Toto je
  jednoduchý príklad, ako na to.
</p>
<p>
  Magia sa deje pomocou atribútu <code>data</code>, ktorý uchováva aktuálnu
  hodnotu počítadla. Potom použijeme udalosť <code>onclick</code> na jej
  zvýšenie.
</p>
<p>
  V udalosti <code>onclick</code> najprv prevádzame hodnotu počítadla na číslo
  pomocou operátora <code>+</code>. Potom ju zvýšime o jedna. Pomocou čiarkového
  operátora zahodíme priradenie a nastavíme textový obsah tlačidla na novú hodnotu.
</p>
