<header class="header">
  <button
    aria-controls="primary-nav"
    aria-expanded="false"
    aria-label="Toggle navigation menu"
    class="toggle-button initial"
    onclick="toggleNav.call(this)"
  ></button>
  <nav hidden id="primary-nav">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>
