<h2>Pure HTML counter</h2>
<p>
  Few people know that you can create a counter using only HTML. This is a
  simple example of how to do it.
</p>
<p>
  The magic happens by using a <code>data</code> attribute to store the current
  value of the counter. Then, we use the <code>onclick</code> event to increment
  its value.
</p>
<p>
  In the <code>onclick</code> event, we first convert the value of the counter
  to a number using the <code>+</code> operator. Then, we increment it by one.
  We use the comma operator to discard the assignment and set the text content
  of the button to the new value.
</p>
