<% content_for :page_title do %>Spracovanie osobných údajov<% end %>
<% content_for :page_description do %>Dozviete sa, ako sú spracovávané vaše osobné údaje na tejto webovej stránke.<% end %>
<% content_for :page_header_color do %>cadetblue<% end %>
<% content_for :page_header do %>
  <p>
    Všetky údaje, ktoré na tejto webovej stránke odosielate, sa používajú len
    na účely kontaktovania vás a poskytovania vám služieb, ktoré požadujete.
    Vaše údaje nikdy nie sú zdieľané s tretími stranami.
  </p>
  <%= render "application/back_link" %>
<% end %>
<main>
  <section class="section">
    <h2>Zúčastnené strany</h2>
    <p>
      Zúčastnené strany, ktoré sa podieľajú na spracovaní vašich osobných
      údajov, sú:
    </p>
    <ul>
      <li>
        <b>Nizomiddin Toshpulatov (ďalej len "Ja")</b> - majiteľ tejto webovej
        stránky a osoba zodpovedná za spracovanie vašich údajov.
      </li>
    </ul>
  </section>
  <section class="section">
    <h2>Žiadosti o životopis</h2>
    <p>
      Keď odošlete formulár "Žiadosť o životopis", údaje ktore poskytnete sa
      použijú na kontaktovanie vás.
    </p>
    <p>
      Ak je vaša žiadosť schválená, dostanete e-mail s odkazom na požadovaný
      životopis, po ktorom sa vaše údaje z systému vymažú.
    </p>
    <p>
      Ak je vaša žiadosť zamietnutá, vaše údaje sa z systému vymažú do 30 dní.
    </p>
    <p>
      Vaše údaje nikdy nie sú zdieľané s tretími stranami.
    </p>
  </section>
  <section class="section">
    <h2>Užívateľské práva</h2>
    <p>
      Máte právo na prístup, opravu a vymazanie vašich osobných údajov. Ak máte
      akékoľvek otázky alebo požiadavky týkajúce sa vašich údajov, použite
      kontaktné informácie uvedené nižšie.
    </p>
  </section>
  <section class="section">
    <h2>Kontaktné informácie</h2>
    <p>
      Pre akékoľvek otázky alebo obavy týkajúce sa vašich údajov a pravidiel
      ochrany súkromia na tomto webe, kontaktujte e-mailom na <%= render "application/contact_email" %>.
    </p>
  </section>
</main>
