<footer class="page-footer">
  <p>
    Ak chcete získať ďalšie informácie, kontaktujte ma e-mailom na adrese
    <a href="mailto:niza@hey.com">niza@hey.com</a>.
  </p>
  <p>Niza Toshpulatov © <%= Date.current.year %></p>
</footer>
