<% emoji = local_assigns.fetch(:emoji, nil) %>
<% color = local_assigns.fetch(:color, nil) %>

<header
  class="page-header noise"
  <% unless color.nil? %>style="--base-color: <%= color %>"<% end %>
>
  <% unless emoji.nil? %>
    <span class="big-emoji" role="presentation"><%= emoji %></span>
  <% end %>
  <h1><%= yield :page_title %></h1>
  <%= yield %>
</header>

<% content_for_styles "page-header" do %>
  <style>
    .page-header {
      display: grid;
      grid-column: full-start / full-end;
      grid-template-columns: subgrid;
      justify-items: flex-start;
      gap: 1rem;
      max-width: 100%;
      padding-top: 20vh;
      padding-bottom: 2rem;
      position: relative;

      & > * {
        grid-column: main-start / main-end;
      }
    }
  </style>
<% end %>
