<footer class="page-footer">
  <p>
    Ak chcete získať ďalšie informácie, kontaktujte ma e-mailom na adrese
    <%= render "application/contact_email" %>.
  </p>
  <p>Niza Toshpulatov © <%= Date.current.year %></p>
</footer>
