<footer class="page-footer">
  <p>
    Ak chcete získať ďalšie informácie, kontaktujte ma e-mailom na adrese
    <a
      href="mailto:hey@niza.cz"
      aria-label="Kliknite na otvorenie e-mailovej aplikácie s predvyplneným e-mailom Nizu"
    >
      hey@niza.cz
    </a>.
  </p>
  <p>Niza Toshpulatov © <%= Date.current.year %></p>
</footer>
