<footer class="page-footer">
  <p>
    For additional inquiries contact me via email at
    <%= render "application/contact_email" %>.
  </p>
  <p>Niza Toshpulatov © <%= Date.current.year %></p>
</footer>
