<footer class="page-footer">
  <p>
    Ak chcete získať ďalšie informácie, kontaktujte ma e-mailom na adrese
    <a
      href="mailto:niza@hey.com"
      aria-label="Kliknite na otvorenie e-mailovej aplikácie s predvyplneným e-mailom Nizu"
    >
      niza@hey.com
    </a>.
  </p>
  <p>Niza Toshpulatov © <%= Date.current.year %></p>
</footer>
