<footer class="page-footer">
  <p>
    For additional inquiries contact me via email at
    <a
      href="mailto:hey@niza.cz"
      aria-label="Click here to open your email app with Niza's address prefilled"
    >
      hey@niza.cz
    </a>.
  </p>
  <p>Niza Toshpulatov © <%= Date.current.year %></p>
</footer>
