<a
  class="social-link"
  target="_blank"
  rel="noopener noreferrer"
  href="<%= url %>"
  title="<%= label %>"
>
  <%= render "icon/#{name}" %>
</a>

<% content_for_styles "social-link" do %>
  <style>
    .social-link {
      --size: 2rem;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: inherit;
      line-height: 0;
      width: var(--size);
      height: var(--size);
      aspect-ratio: 1 / 1;
    }
  </style>
<% end %>
