<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
      footer {
        font-size: 0.825rem;
        background-color: lightgray;
        border-radius: 0.75rem;
        padding: 0.5rem;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
